html{
    justify-content: baseline;
    font-family: italic;
    text-align: justify;
    display: flex;
    justify-items: auto;
}

header {
    
    background-color:rgb(0, 166, 255);
    border-style: dashed;
    border-width: 5px;
    border-color: rgb(0, 255, 200);
    border-radius: 20px 20px 20px 20px ;
    text-align: center;
}


body{
    font-size: 14px;
    background-color: rgb(167, 244, 240);
    padding:fill 1em 0;
    margin: fill 1em 0;
}


.one {
    
    border-style:solid;
    border-radius: 10px 10px 10px 10px;
    border-top-style: solid;
    border-width: ;
    border-color: pink;
    border-radius: ;
    background-color: aquamarine;
}


.two {
    background-color: rgb(8, 191, 130);
    border-style: dashed;
    border-radius: 10px 10px 10px 10px;
    border-color: rgb(255, 0, 187);

}
.three {
    border-style: dashed;
    background-color: rgb(224, 176, 250);
    border-radius: 10px 10px 10px 10px;
}


.skills {
    background-color: #b9b9b9;
    border-style: dotted;
    border-radius: 10px 10px 10px 10px;
}


h1 {
    font-size: normal;
    font-weight: bolder;
}


.profile {
    ;

}
/*width: 80px;
    height: 80px;
    clip-path: circle()*/

p {
    color: rgb(67, 1, 159);
    font-size: 20px;
    accent-color: rgb(102, 248, 132)
}


.last {
        background-color: rgb(180, 179, 178);
        font-style: italic;
        text-align: justify;
        list-style-position: left;
        border-radius: 15px 15px 15px 15px;
}


.font {
    font-size: 20px;
    color:rgb(221, 110, 0);
    text-align: justify;
}

.phone1 {
    font-size: 20px;
    font-display: small-caps;
}
.phone2 {
    font-size: 20px;
}

aside {
    border: rebeccapurple;
}