html{
    font-family: monospace !important;
    /* chosing a font family for my whole page */
}
*{
    font-family: monospace !important;
}

.resume-box{
    color:rgb(206, 18, 18);
    margin: 10px auto;
    padding: 100px auto;
}/*this is my resume box and it includes all the boxes and contents*/


.top-part{
    border-color:darkgrey;
    margin: 0;
    padding: 0;
}


.left-part{
    border-color:antiquewhite;
    margin: 0;
    padding: 0;
}


.right-part{
    border-color:#b9b9b9;
    margin: 0;
    padding: 0;
}

header {
    
    background-color:rgb(0, 166, 255);
    border-style: dashed;
    border-width: 5px;
    border-color: rgb(134, 245, 221);
    border-radius: 20px 20px 20px 20px ;
    text-align: center;
}


body{
    background-color: rgb(231, 250, 241);
}


.one {
    padding: 0;
    margin: 0;
    border-style:solid;
    border-radius: 10px 10px 10px 10px;
    border-top-style: solid;
    border-width: ;
    border-color: pink;
    border-radius: ;
    background-color: aquamarine;
}


.two {
    padding: 0;
    margin: 0;
    background-color: rgb(8, 191, 130);
    border-style: dashed;
    border-radius: 10px 10px 10px 10px;
    border-color: rgb(255, 0, 187);

}
.three {
    padding: 0;
    margin: 0;
    border-style: dashed;
    background-color: rgb(224, 176, 250);
    border-radius: 10px 10px 10px 10px;
}


.skills {
    padding: 0;
    margin: 0;
    background-color: #b9b9b9;
    border-style: dotted;
    border-radius: 10px 10px 10px 10px;
}


h1 {
    font-size: normal;
    font-weight: bolder;
}


.profile-picture {
    width: 80px;
    height: 80px;
    border-radius: 5rem;/*giving or making your picture circular*/
}

/*Another war to make a picture cicrle is__clip-path: circle();*/
p {
    color: rgb(67, 1, 159);
    font-size: 20px;
    accent-color: rgb(102, 248, 132)
}


.last {
        background-color: rgb(180, 179, 178);
        text-align: justify;
        list-style-position: left;
        border-radius: 15px 15px 15px 15px;
        margin: 0;
        padding: 0;
}


.phone1 {
    font-size: 20px;
    font-display: small-caps;
}
.phone2 {
    font-size: 20px;
}

aside {
    border: rebeccapurple;
}