
*{
    margin: 0%;
    padding: 0%;
} 

html{
    font-family: monospace;
}

body{ 
    margin: 0%;
    padding: 0%;
}

div {
}


.resume-box {
    margin-right: 5%;
    margin-left: 5%;
    padding-right: 0;
    border-style: outset double;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: tan;
    position: absolute;

} 
/* making a box block thats centred with css=[    width: 750px;
    height: fit-content;
    transform: translate(-50%, 0%);
    left: 50%;
    top: 50%;] */


img {
    max-width: 100%;
    max-height: 100%;
    height: 50%; 
    width: 50%;
    border-radius: 50%;
}


/* giving picture a circular shape */
.profile{
    align-self: center;
    text-align: center;
    box-sizing: border-box;
    border:3px solid #d9d9d9;
    clip-path: circle();


}

/* this is my header section that i created using div */
.header{
    background-image: url(https://th.bing.com/th?id=OIP.1iaw7RLl3Jt4-MMrifL7owHaE8&w=306&h=204&c=8&rs=1&qlt=90&o=6&dpr=1.3&pid=3.1&rm=2);
    background-size:cover;
    color: rgb(2, 174, 154);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-style: outset double;
    position: inherit;
    float: top;
    text-align: center;
}

/*html{

    font-family: monospace;
    align-items: inherit;
    background-color:rgb(255, 255, 255);
    position: center;
    padding: 0;
    margin: 0;
}/* Styling my html page */

*{
    
}



/* Styling my body */






/* my nav bar */
.navbar{
    margin: 0;
    padding: 0;
    float:inline-start;
    height: auto;
    width: 50%;
    position: inherit;
    color:rgb(255, 8, 197);
}


/* styling my left side */
.left-part{
    
    border-style:solid 1px;
    margin: 0%;
    padding: 0%;
    margin-top: 0%;
    background-color: rgb(177, 215, 215);
    float: left;
    position: inherit;
    width: 50%;
    height: 600px;
}

.right-part{
    border-style: ;
    background-color: darkkhaki;
    padding: 0;
    margin: 0;
    float: right !important;
    position: inherit !important;;
    width: 50%;  
    height: 600px;
}

/* styling my Form */
footer {
    border-style: double;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display:;
    background-attachment: flex-end;
    position: inherit;
    margin: 0;
    padding: 0;
    background-color: aqua;
    float: left;
    height: fit-content;
    width: 100%;
}

ul{
    list-style-type: disc;
    margin-left: 20px;
}
