
*{
    margin: 0%;
    padding: 0%;
} 

html{
    font-size:larger;
    font-family: monospace;  
    display: grid;

}

body{ 
    margin: 0%;
    width: fit-content;
    height: fit-content;
    border-style: outset double;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.show {
    display: block;
}


/* this is my resume box */
.resume-box {
    display: grid;
} 


/* giving picture a circular shape */
img {
    max-width: 100%;
    max-height: 100%;
    height: 50%; 
    width: 50%;
    border-radius: 90%;
    border: solid 3px #ec0731;
}



/* this is my header section that i created using div */
.header{
    font-size: larger;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-image: url(https://onaircode.com/wp-content/uploads/2019/08/flexbox-hero-image-design.png);
    background-size:cover;
    color: rgb(236, 126, 126);
    position: inherit;
    float: top;
    text-align: center;
}




/* my nav bar */
.navbar{
    float: left !important;;
    margin: 0;
    padding: 0;
    float:inline-start;
    width: 50%;
    position: inherit;
    background-color:rgb(192, 251, 231);
}


/* styling my left side */
.right-part{
    margin: 0%;
    padding: 0%;
    float: right ;
    margin-top: 0%;
    background-color: rgb(128, 241, 241);
    position: inherit !important;
    width: 50%;
    height: 100%;
}

/* this is for my left part and i switched my floats they didn't function well */
.left-part{
    margin: 0%;
    padding: 0%;
    float: right ;
    margin-top: 0%;
    background-color: rgb(71, 150, 236);
    position: inherit !important;
    width: 50%;
    height: 100%;
}


/* cutting bottom edges of my footer or bottom part */

.bottom{
    background-color: rgb(91, 105, 112);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-style: outset double;
    float: bottom; 
    text-align: center;
}

/* I was making my lists dots to appear */
ul{
    list-style-type: disc;
    margin-left: 20px;
}

@media only screen and (max-width: 769px) {
.html{font-size:large;}
.header{font-size:large;}
.navbar{background-color: #d68ae3;border: dashed 2px  rgb(48, 240, 163); width: fit-content;position: absolute; right: 5px; top: 5px;border-radius: 10px;}
}



@media only screen and (max-width: 426px) {
html{float: none;display:grid;font-size:small;}
body{float: none;}
.header{float: none;height: 200px;text-align:left;font-size: small;}
.ntro{position:absolute;top:5%;left:5%}
img{position:static;top:1%;left:1%;width:100%;height:100%;height: 50px;width: 50px;}
.navbar{background-color:rgb(192, 251, 231);float:none;position: inherit;float:inline-start;width: 100%;font-size: 5px;padding: 0;float: left;margin: 0;border: none;}
.left-part{float: none; width: 100%;height: fit-content; }
.right-part{float: none; width: 100%;height: fit-content;}
.bottom{float: none;}
}





